{{>layout/header}} <!-- { { >   } }는 현재 머스테치 파일(index.mustache)을 기준으로 다른 파일을 가져온다. -->

<input type="radio" name="searchType" id="placeName" value="placeNameSearch" onclick="showDiv(this)" checked>업체명 검색
<input type="radio" name="searchType" id="location" value="locationSearch" onclick="showDiv(this)">지역 검색
<div id="placeNameSearch" style="display: block">
    <form action="" method="get">
        <input type="search" placeholder="업체명 검색">
        <input type="submit" value="검색">
    </form>
</div>
<div id="locationSearch" style="display: none">
    <form action="" method="get">
        <input type="search" placeholder="지역 검색">
        <input type="submit" value="검색">
    </form>
</div>

<div id="map" style="width:500px;height:400px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bab321d132691513917c2beb64e30768"></script>
<script>
    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
    var options = { //지도를 생성할 때 필요한 기본 옵션
        center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
        level: 3 //지도의 레벨(확대, 축소 정도)
    };

    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
</script>



<script src="/js/app/searchbox.js"></script>

{{>layout/footer}}
